@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
   
}
a{
    text-decoration: none;
}
body,html{
	min-width:1200px;
	position: relative;
	font-family :"Noto Sans KR";
}
body img{
	vertical-align: middle;
}
table {
    border-collapse: collapse;
}
/* 사이드바 */
.sidebar{
	position: absolute;
	top:180px;
	right: 20px;
	width: 70px;
	height: 350px;
	z-index: 11;
}
.sidebar a{
	display: block;
    width: 70px;
    height: 70px;
    background:url(../Images/quickWrap.jpg) no-repeat 0 0;
}
.sidebar li:nth-child(2) a{
	background-position-y: -71px;
}
.sidebar li:nth-child(3) a{
	background-position-y: -142px;
}
.sidebar li:nth-child(4) a{
	background-position-y: -213px;
}
.sidebar li:last-child a{
	background-position-y: -284px;
}
.sidebar li:hover a{
    background: url(../Images/quickWraphover.jpg)  ;
}
.sidebar li:hover:nth-child(2) a{
	background-position-y: -71px;
}
.sidebar li:hover:nth-child(3) a{
	background-position-y: -142px;
}
.sidebar li:hover:nth-child(4) a{
	background-position-y: -213px;
}
.sidebar li:hover:last-child a{
	background-position-y: -284px;
}
/* 사이드바 */

/* 티켓예매 */
.ticketbox{
	position: absolute;
	top:180px;
	right: 110px;
	background: url(../Images/mainticketbox.png) no-repeat 0 0;
	width: 240px;
	height: 250px;
	padding: 10px;
	background-size: cover; 
	z-index: 22;
	text-align: center;
}
.ticketbox span img{
	width: 21px !important;
    height: 24px !important;
}
.ticketbox strong{
	color: #c70101;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 7px 0;
}
.ticketbox span{
	font-size: 14px;
    font-weight: 400;
    font-family :"Noto Sans KR";
}
/* .ticketbox .match{
	width: 215px;
	height: 84px;
	margin:0 auto;
	border: 1px solid black;
} */
.ticketbtn {
	margin-top: 10px;
}
.ticketbtn a{
	display: block;
	width: 215px;
	height: 38px;
	margin:0 auto;
	background: #c70101;
	text-align:center;
	color: #fff;
	line-height: 38px;
	font-size: 14px;
	font-family :"Noto Sans KR";
	
}
.matchinfo{
	margin-top: 10px;
	width: 100%;
	height: 84px;
}
.mi1 {
	margin: 0 auto;
	width: 220px;
	height: 84px;
}
.matchinfo p{
	margin-top: 5px;

}
.matchinfo .home {
	float: left;
	width: 84px;
	height: 84px;
}
.matchinfo .vs{
	height:84px;
	float:left;
	font-size: 32px;
	font-weight: 600;
	color: #888;
	margin: 0 7px;
}
.matchinfo .away{
	float: left;
	width: 84px;
	height: 84px;
	
}
.matchinfo .away p{
	font-size: 16px;
	font-weight: 500;
	
}
.ticketbox img{
	width: 60px;
	height: 60px;
}
/* 티켓예매 */

/* .header::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #2b2b2b;
    position: absolute;
    left: 0;
    top: 90px;
} */
/* 상단 배너 */
.header a{
    color: #fff;
}
.wrap{
    min-width: 1200px;
}
.wrap h2 {
    text-transform: uppercase;
   font-family: 'ExoBold', 'Noto Sans KR';
    font-size: 28px;
}
.wrap h4{
	font-family: 'ExoBold', 'Noto Sans KR';
	font-size: 24px;
}
.header{
    background: black;
    position: relative;
}
.header .subheader{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header .subheader .header1{
    height: 90px;
}
.header .subheader .header1 .left{
    width: 180px;
    height: 90px;
    float: left;
}
.header .subheader .header1 .left ul{
    width: 210px;
    height: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.header .subheader .header1 .left ul li {
    display: inline-block;
    float: left;
    margin-right: 24px;
}
.header .subheader .header1 .center{
    float: left;
    width: 640px;
    height: 90px;
}
.header .subheader .header1 .center a img{
    float: left;
   margin: 11px 160px 11px 347px;
}
.header .subheader .header1 .right{
    float: left;
    width: 370px;
    height: 90px;
}
.header .subheader .header1 .right ul{
    float: right;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 20px;
    margin-left: 12px;
}
.header .subheader .header1 .right ul li{
    float: right;
    display: inline-block;
    text-align: center;
    line-height: 24px;	
}
.header .subheader .header1 .right ul li:first-child{
	margin-left: 0px	
}
.header .subheader .header1 .right ul li{
    float: left;
    display: inline-block;
    text-align: center;
    margin-left: 12px;
}
.header .subheader .header1 .right ul li:first-child a::before{
    display: inline-block;
    content: '';
    background: url(https://www.fcseoul.com/resources/front/images/common/ico_headerTop1.png) no-repeat 0 center;
    width: 16px;
    height: 22px;
    margin-right: 8px;
   vertical-align: middle;
}
.header .subheader .header1 .right ul li:nth-child(2) a::before{
    display: inline-block;
    content: '';
    background: url(https://www.fcseoul.com/resources/front/images/common/ico_headerTop2.png) no-repeat 0 center;
    width: 16px;
    height: 22px;
    margin-right: 8px;
   vertical-align: middle;
}
.header .subheader .header1 .right ul li:nth-child(3) a::before{
    display: inline-block;
    content: '';
    background: url(https://www.fcseoul.com/resources/front/images/common/ico_headerTop3.png) no-repeat 0 center;
    width: 16px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
   
}
.header .subheader .header1 .right a.eng{
    float: left;
    display: inline-block;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 15px;
    text-align: center;
    
}
.header .subheader .header1 .right a.eng:hover{
    color: black;
    background-color: #fff;
}
.header .subheader .header2{
    height: 70px;
}
.header .subheader .header2 .allmenu{
   height: 70px;
   width: 70px;
   border-left: 1px solid #2b2b2b;
   border-right: 1px solid #2b2b2b;
   padding: 0px 20px;
   box-sizing: border-box;
   float: left;
   cursor: pointer;
   
}




.on{
	background:#fff;
	z-index: 23;
	position: absolute;
}

.on	 span {
    background: #222 !important;			
}

.on .all2 {
    opacity: 0;
}

.on .all1 {
    transform: translateY(10px) rotate(45deg);
     background: #222;
}

.on .all3 {
    transform: translateY(-10px) rotate(-45deg);
     background: #222;
}





 .header .subheader .header2 .allmenu .all1{
    display: block;
    background: #fff;
    height: 2px;
    width: 30px;
    transition: all 0.4s;
	margin-top: 25px;
 }
 .header .subheader .header2 .allmenu .all2{
    display: block;
    background: #fff;
    height: 2px;
    width: 24px;
    transition: all 0.4s;
	margin-top: 8px;
 }
 .header .subheader .header2 .allmenu .all3{
    display: block;
    background: #fff;
    height: 2px;
    width: 30px;
    transition: all 0.4s;
	margin-top: 8px;
 }
 
.header .subheader .header2 .menulist{
    float: left;
    z-index: 22;
    width: 1130px;
    line-height: 70px;
    position: absolute;
    left: 70px;
}
.header .subheader .header2 .menulist li {
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    height: 70px;
    text-align: center;
}





.header .subheader .header2 .menulist li a{
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    height: 70px;
    padding: 0 43px;
    text-align: center;
    
}
.header .subheader .header2 .menulist li:last-child a{
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    height: 70px;
    padding: 0 44px;
    text-align: center;
    color: #b99867	;
}
.header .subheader .header2 .menulist li:last-child a:before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 22px;
    margin-right: 5px;
    background: url("https://www.fcseoul.com/resources/front/images/common/ico_shop.png") no-repeat 0 center;
	vertical-align: middle;
}
.header .subheader .header2 .menulist li:last-child a:hover:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 22px;
    margin-right: 5px;
    background: url("https://www.fcseoul.com/resources/front/images/common/ico_shopOver.png");
}

/* .header .subheader .header2 .menulist li a:hover{
    color: black;
    background: #fff;
    
} */
.over a{
	color: black !important;
    background: #fff;
}




.header .subheader .header2 .menulist li:last-child a:hover{
    color: #fff;
    background: #b99867;
}

.header .bannerList{
	width: 100%;
	background: #fff;
	top: 160px;
	position: absolute;
	z-index: 23;
}
.header .bannerList .subBanner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
}
.header .bannerList .subBanner a{
	color: #222;
}
.header .bannerList .subBanner .allList{
	padding: 15px 0;
}




.header .bannerList .subBanner .allList .list1{
	margin-left:76px;
	height: 333.56px;
	width: 1124px; 
}
.header .bannerList .subBanner .allList .list1 .list1box {
	float:left; 
	box-sizing: border-box;
	height: 333.56px;
}
.header .bannerList .subBanner .allList .list1 .list1box ul li{
	padding: 15px 0;
	text-align: center;
	font-weight: 400;
}
.header .bannerList .subBanner .allList .list1 .list1box ul li a{
	width: 100%;
}
.header .bannerList .subBanner .allList .list1 .list1box ul li a:hover{
	color: #c70101;
}
.header .bannerList .subBanner .allList .vrbanner{
	height:150px;
	margin: 20px 0px 15px;
}
.header .header2 .allmenu:checked .allList	{
	display: block;		/*클릭시 안나옴???/???*/
}
.header .bannerList .detailmenu .detailleft{
	height: 393px;
	width: 300px;
	float: left;
}
.header .bannerList .detailmenu ul li{
	
}





.header .bannerList .detailmenu .detailleft h2{
	padding: 30px 0px 10px;
}
.header .bannerList .detailmenu .detailleft ul {
	border-top: 1px solid #0e0e0e;
    width: 280px;
    height:140.78px;
    margin-right: 20px;
}




.header .bannerList .detailmenu .detailleft ul li	{
    font-size: 16px;
}




.header .bannerList .detailmenu .detailleft ul li a{
	border-bottom: 1px solid #e2e2e2;
    padding: 10px 10px;
    width: 280px;
	height:46.59px;
    font-size: 16px;
    display: block;
    position:relative;
    box-sizing: border-box;	
}
.header .bannerList .detailmenu .detailleft ul li a:before{
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	background:black;
	margin-right: 5px;
	vertical-align: middle;
}
.header .bannerList .detailmenu .detailleft ul li a:after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 15px;
	background: url("https://www.fcseoul.com/resources/front/images/common/ico_go.png") no-repeat ;
	float: right;
	vertical-align: middle;
	margin-top: 5.5px;
}
.header .bannerList .detailmenu .detailleft ul li .dshop:after{
	content:'';
	display:inline-block;
	width:15px;
	background: url("https://www.fcseoul.com/resources/front/images/common/ico_blank.png") no-repeat center center;
}
.header .bannerList .detailmenu .detailleft ul li .dshop:hover:after{
	background: url("https://www.fcseoul.com/resources/front/images/common/ico_blank_on.png") no-repeat center center;
}
.header .bannerList .detailmenu .detailleft ul li a:hover {
	color: #c70101;
}
.header .bannerList .detailmenu .detailleft ul li a:hover:after{
	background: url("https://www.fcseoul.com/resources/front/images/common/ico_go_on.png") no-repeat ;
}
.header .bannerList .detailmenu .detailright{
	height:393px;
	width:900px;
	padding: 15px 0px;
	float: left;
	box-sizing: border-box;
}
.header .bannerList .detailmenu .detailright .mediabox{
	float: left;
	width: 285px;
}
.header .bannerList .detailmenu .detailright .mediabox+.mediabox{
	margin-left: 15px;
}
.header .bannerList .detailmenu .detailright .mediabox a{
	display:inline-block;
	width: 282px;
    height: 158px;
    position: relative;
    margin-top: 10px;
 
}
.header .bannerList .detailmenu .detailright .mediabox a .mediaimg{
	width: 282px;
    height: 158px;
}

.header .bannerList .detailmenu .detailright .mediabox .text{
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 282px;
    padding: 10px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    box-sizing: border-box;

}
.header .bannerList .detailmenu .detailright .mediabox .noticebox{
	background: #f9f9f9;
	box-sizing: border-box;
}
.header .bannerList .detailmenu .detailright .mediabox .noticebox .nbox1{
	border: 1px solid #d2d2d2;
    padding: 10px;
    width: 282px;
    height: 158px;
    box-sizing: border-box;
}
.header .bannerList .detailmenu .detailright .mediabox .noticebox .nbox1 .ntext{
	text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 10px;
}
.header .bannerList .detailmenu .detailright .mediabox .noticebox .nbox1 .ntext2{
	font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6em;
    height: 4.8em;
}
.ndate{
	font-weight: 300;
	margin-top: 10px;
	vertical-align: middle;
}
.ndate:before {
	content: '';
	display: inline-block;
	background: url("https://www.fcseoul.com/resources/front/images/sub/common/ico_date.png") no-repeat;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	vertical-align: middle;	
}
.header .bannerList .detailmenu .detailright .mbox{
	width:285px;
	height:353px;
	background: #f9f9f9;
    border: 1px solid #d2d2d2;
    padding: 20px;
    margin: 20px 0px 0;
    text-align: center;
    position: relative;
    float: left;
    box-sizing: border-box;
}
.header .bannerList .detailmenu .detailright .mid{
	margin: 20px 20px 0;
}
.header .bannerList .detailmenu .detailright .mbox2{
	width:285px;
	height:353px;
	background: url("https://www.fcseoul.com/resources/front/images/common/bg_matches_current.jpg");
	float: left;
	margin: 20px 0px 0;
	color: #fff;
	position: relative;
}
.header .bannerList .detailmenu .detailright .mbox .scorebox{
	margin: 20px 0;
	padding: 0 5px;
	height: 110px;
}
.header .bannerList .detailmenu .detailright .mbox .mleft{
	width: 80px;
	height: 110px;
	float: left;
}
.header .bannerList .detailmenu .detailright .mbox img{
	height: 80px;
	width: 80px;
}
.header .bannerList .detailmenu .detailright .mbox .mleft P{
	font-weight: 500;
    margin-top: 5px;
    width: 80px;
    line-height: 1.2;
    text-align: center;
}
.header .bannerList .detailmenu .detailright .mbox .mcenter{
	margin: 20px 0px 0;
	width: 73px;
	height: 48px;
	float: left;
	font-size: 30px;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-family: 'ExoBold', 'Noto Sans KR';
    text-align: center;
}
.header .bannerList .detailmenu .detailright .mbox .mcenter .mc1{
	width: 60px;
	height: 40px;
	margin: 0 auto;
}
.header .bannerList .detailmenu .detailright .mbox .mcenter p{
	width: 20px;
	float: left;
	text-align: center;
}
.header .bannerList .detailmenu .detailright .mbox .mright{
	width: 80px;
	height: 110px;
	float: left;
}
.header .bannerList .detailmenu .detailright .mbox .mright p{
	font-weight: 500;
    margin-top: 5px;
    width: 80px;
    line-height: 1.2;
    text-align: center;
}
.header .bannerList .detailmenu .detailright .mbox .matchtime{
	position:absolute;
	left:0;
	bottom:75px;
	margin: 0 15px;
	width: 253px;
	
}
.header .bannerList .detailmenu .detailright .mbox .matchtime p:first-child {
	font-size: 18px;
	font-weight: 500;
}
.header .bannerList .detailmenu .detailright .mbox .matchtime p:last-child {
	font-size: 16px;
	font-weight: 300;
}
.header .bannerList .detailmenu .detailright .mbox .matchresult{
	position:absolute;
	left:0;
	bottom:15px;
	margin: 0 15px;
	width: 253px;
	height: 46px;
}
.header .bannerList .detailmenu .detailright .mbox .matchresult a{
	display:block;
	width: 253px;
	height: 46px;
	background: #a88859;
	color: #fff;
	text-align: center;
	line-height: 48px;
}
.header .bannerList .detailmenu .detailright .mbox .mcenter .vs{
	width:40px;
	margin: 0 16.5px;	
}
.header .bannerList .detailmenu .detailright .mbox .matchtime p:first-child{
	color: #c70101;
}
.header .bannerList .detailmenu .detailright .mbox2 p{
	text-align: center;
}
.header .bannerList .detailmenu .detailright .mbox2 img{
	margin-right: 10px;
}
.header .bannerList .detailmenu .detailright .mbox2 p:first-child{
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Noto Sans KR';
}
.header .bannerList .detailmenu .detailright .mbox2 p:nth-child(2) {
	font-size: 22px;
    font-weight: 500;
}
.header .bannerList .detailmenu .detailright .mbox2 p:nth-child(3) strong {
	font-size: 92px;
	color: #ae9050;
}
.header .bannerList .detailmenu .detailright .mbox2 p:nth-child(3){
	font-size: 32px;
    font-weight: 500;
    height: 132px;
    margin-top: 12px;
}
.header .bannerList .detailmenu .detailright .mbox2 .teamrecode{
	text-align: center;
	color: #ccc;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 30px;
}
.header .bannerList .detailmenu .detailright .mbox2 .teamrecode b{
	color: #fff;
    font-weight: 500;
}
.header .bannerList .detailmenu .detailright .mbox2 .allrecode{
	position: absolute;
    bottom: 15px;
    left: 0;
    width: calc(100% - 30px);
    margin: 0 15px;
	text-align: center;
}	
.arbtn{
	display:block;
	background: none;
    color: #fff !important;
    border: 1px solid #fff;
    width: 255px;
    height: 46px;
    line-height: 48px;
}
.arbtn:hover {
	color: black !important;
	background: #fff;
}
.detailright .membox{
	float: left;
}
.detailright .membox+.membox{
	margin-left: 30px;
}


/* club right박스 만들기 */
.rightclub{
	
	height: 393px;
	padding: 20px 0px;
	float: left;
	box-sizing: border-box;
}
.rightclub .clubbox+.clubbox{
	margin-left: 24px;
} 
.clubbox .lbtn{
	top:50%;
}
.clubbox .rbtn{
	top:50%;
}
.clubbox{
	float: left;
	position: relative;
}
.clubbox:first-child{
	height:353px;
	width:	282px;
	overflow: hidden;
}
.clubbox ul{
	width: 2400px;
	height: 353px;
}
.clubbox ul li{
	height:353px;
	width:	282px;
	float: left;
	background: url("https://www.fcseoul.com/resources/front/images/common/img_drop_c1.jpg");
}
.clubbox a{
	display: block;
	width: 282px;
	height: 353px;
}

 .pinfo{
	position: absolute;
    left: 50px;
    top: 50% ;
    transform: translateY(-50%);
    line-height: 1.4;
    color: #fff;
}
.pinfo .position{
	font-size: 22px;
	color: #fff;
	font-weight: 400;
}
.pinfo .name{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}
.pinfo .goal{
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}
.pinfo .asssist{
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}
.pinfo strong{
	margin-right: 10px;
}
.pinfo1{
	position: absolute;
    left: 50px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    line-height: 1.4;
}
.pinfo2{
	position: absolute;
    left: 50px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    line-height: 1.4;
}
.pinfo3{
	position: absolute;
    left: 50px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    line-height: 1.4;
}

.pinfo span{
	color: #fff;
}
.clubbox ul li img{
	width: 283px;
	height: 283px;
	position: relative;
	top:70px;
	left: 65px;
}

.detailright .fanbox{
	float: left;
}
.detailright .fanbox a{
	width: 282px;
	height: 353px;
	display: block;
}
.detailright .fanbox+.fanbox{
	margin-left: 27px;
}

.shopbox{
	border: 1px solid #d2d2d2;
    width: 900px;
    height: 353px;
    text-align: center;
}
.shopbox strong{
	font-size: 24px;
    font-weight: 700;
    margin: 20px 0 0px;
    display: block;
}
.shopbox .shopitem{
	height: 301px;
	position: relative;
}
.shopbox .shopitem .inner{
	height: 301px;
	margin: 0 auto;
	width: 900px;
	overflow: hidden;
	position: relative;
}
.shopbox .shopitem .inner .inner1{
	height: 301px;
	width: 900px;
}
.lbtn{
	position: absolute;
	left: 0;	
	cursor: pointer;
	top: calc(50% - 30px);
	transform:translateY(-50%);
	width: 32px;
	height: 56px;
	z-index: 1;
}
.rbtn{
	position: absolute;
	right: 0;
	cursor: pointer;
	top: calc(50% - 30px);
    transform: translateY(-50%);
    width: 32px;
	height: 56px;
	z-index: 1;
}
.shopbox .shopitem .inner ul {
	/* 박스 중앙으로 이미지 정렬*/
	width: 750px;
	height: 301px;
	
	padding-top: 49px;
    margin: 0 auto;
    box-sizing: border-box;
}
.shopbox .shopitem .inner ul .shopslide{
	margin: 0 auto;
	width: 750px;
	height: 301px;
}

.shopbox .shopitem .inner li{
	float: left;
	position: relative;
}
.shopbox .shopitem .inner li+li{
	margin-left: 10px;
}
.shopbox .shopitem .inner a{
/* 	height: 221px;
	width: 180px; */
	display: block;
}
.shopbox .shopitem .inner img{
	margin-bottom: 10px;
}

.shopbox .shopitem .inner p{
	overflow:hidden;
	text-overflow: ellipsis;
	width: 180px;
	white-space: nowrap;
	word-wrap: normal;
	font-family: "Noto Sans KR";
	font-size: 16px;
	font-weight: 400px;	
}
.shopbox .shopitem .inner .price{
	color: #c70101	
}
.shopbox .shopitem .inner a:hover .shopimg:before {
	content: '';
    display: inline-block;
    width: 160px;
    height: 160px;
    background: rgba(199, 1, 1, 0.8) url("https://www.fcseoul.com/resources/front/images/main/icon_shop.png") no-repeat center center;
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    top: 0;
}
/* 상단 배너 */





.bannerlayer{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 22;
    
}
.bannerlayer2{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 21;
    
}






/* 메인 */
.main{
	position: relative;
	min-width: 1200px;
	overflow-x: hidden; 
}
.main1{
	
    width: 100vw;
    min-width: 1200px;
    height: 650px;
    overflow: hidden;
}
.main1 .mainimg {
	position:absolute;
	float: left;
	width: 100vw;
	height: 650px;
	min-width: 1200px;
	overflow: hidden;
}
.main1 .slide{
	width:100vw;
	height:650px;
	min-width: 1200px;
	float: left;
}
.main1 img{
	position:absolute;
	min-width:1200px;
	width: 100vw;
	height: 650px; 
	text-align: center;
	object-fit:cover;
	float: left;
}
/* 메인경기정보 */
.main2{
	background: url("https://www.fcseoul.com/resources/front/images/main/bg_main1.jpg?230309" )no-repeat center center ;
	height: 491px;
}
.main2 .submain2{
	width: 1200px;
	height: 345px;
	margin: 0 auto;
	padding-top: 70px;
}
.main2 .submain2 .rank{
	width: 315px;
	height: 345px;
	float: left;
	color: #fff;
}
.nowrank{
	width: 315px;
	height: 45px;
	font-size: 28px;
	position: relative;
}
.nowrank a{
	width: 32px;
	height: 32px;
	display:block;
	position:absolute;
	float: right;
	right: 0;
	top:5px;
}
.nowrank img{
	position:absolute;
	float: right;
	right: 0;
}
.rank .ranktable{
	width: 315px;
	height: 285px;
	text-align: center;
	font-size: 14px;
	margin-top:14px;
	border-top: 1px solid #643838;
}
.rank .ranktable img{
	width: 30px;
	height: 30px;
	margin-left: 5px;
}
.rank .ranktable th{
	padding: 14px 0;
	min-width: 30px;
}
.rank .ranktable td{
	padding: 14px 0;
	min-width: 30px;
}
.rank .ranktable tr:nth-child(2){
	border: 1px solid #c70101;
}
.rank .ranktable tr{
	width: 314px;
	height: 59px;
}
.main2 .match{
	width: 560px;
	height:345px;
    margin: 0 20px;
    float: left;	
}
.main2 .match .mtop{
	width: 560px;
	height: 60px;
	background: linear-gradient(to left, #bb9532, #c70101);
}
.main2 .match .mtop .mbtnl{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	background: url("https://www.fcseoul.com/resources/front/images/main/btn_slidePrev1.png")no-repeat center center;
	cursor: pointer;
}
.main2 .match .mtop .mbtnr{
	width: 60px;
	height: 60px;
	float: left;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	background: url("https://www.fcseoul.com/resources/front/images/main/btn_slideNext1.png") no-repeat center center;
	cursor: pointer;
}
.main2 .match .mtop .middle{
	width: 440px;
	float: left;
}
.main2 .match .mtop h3{
	font-size: 28px;
	color: #fff;
	font-weight: 400;
	height: 60px;
	text-align: center;
	width: 440px;
}
.match .seoulmatch{
	height: 270px;
	background: #fff;
}
.seoulslider {
	overflow: hidden;
	float: left;
	width: 560px;
	height: 270px;
}
.pregame {
	width: 560px;
	height: 270px;
}
.nextgame{
	width: 560px;
	height: 270px;
}
.nowgame{
	height: 270px;
}
.gameinfo{
	width: 560px;
	height: 160px;
	padding-top:20px;
}
.gi1{
	margin: 0 auto;
	height: 160px;
	width: 475px;

}
.gameinfo .ml{
	width: 110px;
	height: 145px;
	float: left;
	text-align: center;
}
.gameinfo .ml p{
	font-size: 22px;
    font-weight: 700;
    word-break: keep-all;
    margin-top: 14px;
}
.gameinfo .mc{
	width: 194px;
	height: 167px;
	float: left;
	margin: 0 30px;
	text-align: center;
}
.mc p:first-child{
	font-size: 16px;
    font-weight: 700;
    color: #001c48;
   	text-align: center;
}
.mc p:first-child img{
	display: inline-block;
}
.mc p:nth-child(2){
	font-size: 50px;
    font-weight: 500;
    height: 60px;
    text-align: center;
    font-family: 'ExoBold';
    text-align: center;
    line-height: 54px;
}
.mc p:nth-child(3){
	font-weight: 700;
    font-size: 19px;
    font-family: 'ExoBold';
    text-align: center;
    margin-top:3px;
}
.mc p:nth-child(4){
	font-size: 18px;
    font-weight: 400;
    float: left;
    text-align: center;
    width: 194px;
    height: 29px;
    margin-top:3px;
}
.mc .away{
	color: #fff;
	border-radius:50%;
	background: black;	 
	font-size: 16px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    text-align: center;
 	display:block;
    line-height: 19px;
    margin-top: 4px;
    margin-right: 19px;
    padding-bottom: 2px;
   	float: right;
}
.mc img{
	width: 40px;
	height: 40px;
}
.gameinfo .mr{
	width: 110px;
	height: 145px;
	float: left;
	text-align: center;
}
.gameinfo .mr p{
	font-size: 22px;
    font-weight: 700;
    word-break: keep-all;
    margin-top: 14px;
}
.gameinfo .logo{
	width: 104px;
	height: 104px;
}
.matchbtn{
	height: 46px;
	margin-top: 10px;
}
.matchbtn a{
	display:block;
	width:200px;
	height: 46px;
	color: white;
	background: black;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
} 
.pregame .matchbtn a{
	display:block;
	width:200px;
	height: 46px;
	color: white;
	background: #a88859;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
}
.pregame .matchbtn a:after{
	content: '';
    display: inline-block;
    width: 20px;
    height: 7px;
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_go.png")no-repeat center center;
	margin-left: 20px;
}
.pregame .mc p:nth-child(2) b,span{
	color: #888888;
}
.mc .mhome {
	background: #bb0101;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
    line-height: 19px;
    margin-top: 4px;
    margin-right: 19px;
    padding-bottom: 2px;
    float: right;
}
.nextgame .matchbtn a{
	display:block;
	width:200px;
	height: 46px;
	color: white;
	background: #bb0101;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
}
.nextgame .matchbtn a:after{
	content: '';
    display: inline-block;
    width: 20px;
    height: 7px;
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_go.png")no-repeat center center;
	margin-left: 20px;
}
/* 메인경기정보 */
.main3{
	background: url("https://www.fcseoul.com/resources/front/images/main/bg_main2.jpg?20230309") no-repeat center center;
	height: 450px;
}
.main3 .submain3{
	width: 1200px;
	height: 450px;
	margin: 0 auto;
	color: #fff;
	position: relative;
}
.main3 .submain3 .m3left{
	width: 427px;
	height: 450px;
	float: left;
}
.main3 .submain3 .m3left h3{
	padding: 47px 0 19px;
	font-family: 'ExoBold', 'Noto Sans KR';
    font-size: 26px;
}
.main3 .submain3 .m3left .goshop{
	height: 46px;
}
.main3 .submain3 .m3left .goshop a{
	display:block;
	width: 200px;
	height: 46px;
	background: #bb0101;
	color: #fff;	
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}
.main3 .submain3 .m3left .goshop a:after{
	content: '';
    display: inline-block;
    width: 20px;
    height: 7px;
    margin-left: 20px;
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_go.png") no-repeat center center;
}
.main3 .submain3 .m3left h4{
	padding: 29px 0 10px !important;
	font-family: 'ExoBold', 'Noto Sans KR';
    font-size: 24px;
}
.main3 .submain3 .m3left ul{
	width: 427px;
	height: 207px;
	text-align: center;
	margin: 0 10px;
	position: relative;
}
.main3 .submain3 .m3left ul li{
	float: left;

}
.main3 .submain3 .m3left ul li+li{
	margin-left: 20px;
}
.main3 .submain3 .m3left ul li a{
	float: left;
	width: 120px;
	display: block;
}
.main3 .submain3 .m3left ul li .m3img{
	position: relative;
}
.main3 .submain3 .m3left ul li img{
	width: 120px;
	height: 120px;
	border-radius:50%; 
}
.main3 .submain3 .m3left ul li a p{
	color: #fff;
}
.main3 .submain3 .m3left ul li a p{
	margin-top: 10px;
}

.main3 .submain3 .m3left ul li a p:last-child{
	margin-top: 5px;
}	
.main3 .submain3 .m3left ul li a:hover .m3img:before{
	background: rgba(246,0,0,0.8);
	content: '';
  	width: 120px;
  	height: 120px;
  	position: absolute;
  	left: 0;
  	top: 0;
  	border-radius: 50%;
  	display: inline-block;
}
.main3 .submain3 .m3left ul li a:hover .m3img:after{
	background: url("https://www.fcseoul.com/resources/front/images/main/icon_shop.png") no-repeat center center ;
	content: '';
  	width: 120px;
  	height: 120px;
  	position: absolute;
  	left: 0;
  	top: 0;
  	border-radius: 50%;
  	display: inline-block;
}
.main3 .submain3 .m3left ul li a:hover p{
	text-decoration: underline;
}
.main3 .submain3 .m3right{
	width: 246px;
	height: 450px;
	float: right;
    position: relative;
}
.main3 .submain3 .m3right h4{
	padding: 82px 0 30px !important;
	font-size: 23px;
	font-family: 'ExoBold', 'Noto Sans KR';
}
.main3 .submain3 .m3right .rcitem {
	height: 304px;
}
.main3 .submain3 .m3right .rcitem .mr3slide{
	
	height: 304px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.main3 .submain3 .m3right .rcitem .rp:before{
	background: url("https://www.fcseoul.com/resources/front/images/main/bg__rp_tl.png?20230310")no-repeat center top ;
	left: 43px;
	top:0;
	position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.main3 .submain3 .m3right .rcitem .rp:after{
	background: url("https://www.fcseoul.com/resources/front/images/main/bg__rp_br.png?20230310")no-repeat center top;
	right: 43px;
	top:140px;
	position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.main3 .submain3 .m3right .rcitem ul{
	height: 304px;
	width: 160px;
	position: relative;
	margin: 0 auto;
}
.main3 .submain3 .m3right .rcitem ul li a{
	width: 160px;
	height: 304px;
	display: block;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.main3 .submain3 .m3right .rcitem ul li a .mrimg {
	position: relative;
}
.main3 .submain3 .m3right .rcitem ul li a:hover .mrimg::before{
	background: url("https://www.fcseoul.com/resources/front/images/main/bg__rp_over.png") no-repeat center center;
  	content: ''; 
  	display: inline-block; width: 160px; 
  	height: 160px; 
  	padding: 11px; position: absolute; top: -11px; 
  	left: -11px; z-index: 1;
}
.main3 .submain3 .m3right .rcitem ul li a:hover p{
	text-decoration: underline;
}
.main3 .submain3 .m3right .rcitem ul li a:hover .mrimg::after{
	background: url("https://www.fcseoul.com/resources/front/images/main/icon_shop.png")no-repeat center center;
	content: '';
  	display: inline-block;
  	width: 50px;
  	height: 50px;
  	position: absolute;
  	top: 55px;
  	left: 50%;
  	border-radius: 50%;
  	z-index: 2;
	 transform: translate(-50%,10%);
}
.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 !important;
  background: none !important;
}








.main4{
	height: 522px;
	background: #151515;
	
}
.submain4 {
	width: 1200px;
	height: 362px;
	margin: 0 auto;
	padding: 80px 0;
}
.submain4 .m4img{
	height:362px;
	width:384px;
	float: left;
}
.submain4 .m4down .m4text{
	margin-top: 20px;
}
.submain4 .m4down .m4text p:first-child{
	font-family: 'ExoBold';
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.submain4 .m4down .m4text p:last-child{
	font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    
}
.download{
	width: 348px;
	height: 40px;
	margin-top: 10px;
	float: left;
	padding: 0 50px;
}
.download a{
	width: 142px;
	height: 40px;
	display: block;
	float: left;
}
.download a:first-child{
	margin-right: 10px;
}
.submain4 .m4img .m4:first-child{
	height:168px;
	width:384px;
	display: block;
	margin-bottom: 24px;
}
.submain4 .m4img .m4:last-child{
	height:170px;
	width:384px;
	display: block;
}
.submain4 .m4img:nth-child(2){
	margin: 0 24px;
	background: url("https://www.fcseoul.com/resources/front/images/main/btn_banner2_2.jpg");
}
.submain4 .m4img:last-child img{
	float: left;
}


.main5{
	padding-top: 50px;
}
.main5 .submain5{
	width: 1200px;
	margin: 0 auto;
}
.main5 .submain5 h3{
	font-size: 32px;
	padding: 30px 0;	
	text-align: center;
}
.snsbtn{
	margin-bottom: 40px;
	    height: 40px;
}
.main5 .submain5 .seoulsns{
	margin-bottom: 40px;
	margin: 0 auto;
	height: 40px;
	width: 400px;

}
.main5 .submain5 .seoulsns li{
	
    float: left;
}
.main5 .submain5 .seoulsns li button{
	float: left;
	width: 130px;
    height: 40px;
    background: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.main5 .submain5 .snsbtn .seoulsns li:nth-child(2) {
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	
}
/* .main5 .submain5 .snsbtn .seoulsns .snsbutton button{		버튼클릭
	background: linear-gradient(to top,#aa0000,#c70101);
	color: #fff;
} */
.snsbutton{
	background: linear-gradient(to top,#aa0000,#c70101) !important;
	color: #fff;
}

.main5 .submain5 .snsbox{
	width: 100%;
}
.insta{
	width: 282px;
	height: 282px;
	float: left;
	margin-left: 18px;
	margin-bottom: 25px;
}

.insta a{
	width: 282px;
	height: 282px;
	display: block;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.insta a img{
	width: auto;
    height: auto;
    max-height: 282px;
	
}
.insta a .instaimg{
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_sns1.png");
	width: 40px;
	height: 40px;
	position: absolute;
    top: 10px;
    left: 10px;
}
.stbox{
	position: absolute;
	bottom: 0px;
    left: 0px;
    width: 100%;
    height: 220px;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    padding: 20px;
    box-sizing: border-box;
}
.snstext{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.4rem;
    max-height: 2.8rem;
    width: 100%;
    margin-top: 132px;
}
.insta a:hover{
	border: 4px solid #c70101;
}
.insta a:hover p{
	text-decoration: underline;
}
.insta a:hover .instaimg{
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_sns1Over.png");
	width: 40px;
	height: 40px;
}
.youtube{
	width: 384px;
    height: 215px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-left: 16px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.youtube a{
	width: 384px;
    height: 215px;
    display: block;
}
.youtube img{
	width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.youtubeimg{
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_sns3.png");
	width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.youtube:hover {
	border: 4px solid #c70101;
}
.youtube:hover p{
	text-decoration: underline;
}
.youtube:hover .youtubeimg{
	background: url("https://www.fcseoul.com/resources/front/images/main/ico_sns3Over.png");
	width: 40px;
	height: 40px;
	 position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.morebtn{
	float:left;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #d2d2d2;
}
.morebtn a{
	display:block;
	background: url("https://www.fcseoul.com/resources/front/images/main/btn_more_50.png")no-repeat center center;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.morebtn a:hover {
	background: url("https://www.fcseoul.com/resources/front/images/main/btn_more_50Over.png") no-repeat center center;
	width: 50px;
	height: 50px;
}


.bottomsns{
	width: 100%;
	height: 255px;
	float: left;
	
}
.bottomsns .bs1{
	width:629px;
	height: 255px;
	margin: 0 auto;
}
.bottomsns .bs1 strong{
	font-size: 28px;
	font-weight: 500;
}
.bottomsns .bs1 ul{
	width:629px;
	height:100px;
	float: left;
	margin: 30px 0 80px;
}
.bottomsns .bs1 ul li{
	float: left;
	padding: 0px 30px 0px 70px;
}




        .footer {
	        background: #151515;
	        font-weight: 300;
	        position: relative;
		}
		.mainbot {
		        background: #f3f3f3;
		        padding: 60px 0;
		        box-sizing: border-box;
		        height: 503px;
		}
		.sponsorwrap {
		        display: inline-block;
		        width: 246px;
		        margin-right: 24px;
		        box-sizing: border-box;
		        float: left;
		}
		.sponsorwrap2 {
		        display: inline-block;
		        width: 118px;
		        margin-right: 24px;
		        box-sizing: border-box;
		        float: left;
		}
		.sponsorwrap3 {
		        display: inline-block;
		        width: 246px;
		        margin-right: 24px;
		        box-sizing: border-box;
		        float: left;
		}
		.sponsorwrap strong {
		        float: left;
		        position: relative;
		        padding-left: 10px;
		        line-height: 1.2;
		        text-transform: uppercase;
		        font-family: 'ExoBold', 'Noto Sans KR';
		        font-size: 20px;
		        font-weight: 600;
		        margin-bottom: 39px;
		        text-align: left;
		}
		.sponsorwrap2 strong {
		        float: left;
		        position: relative;
		        padding-left: 10px;
		        line-height: 1.2;
		        text-transform: uppercase;
		        font-family: 'ExoBold', 'Noto Sans KR';
		        font-size: 19px;
		        font-weight: 650;
		        margin-bottom: 17px;
		        letter-spacing: -1px;
		        text-align: left;
		}
		.sponsorwrap3 strong {
		        float: left;
		        position: relative;
		        padding-left: 10px;
		        line-height: 1.2;
		        text-transform: uppercase;
		        font-family: 'ExoBold', 'Noto Sans KR';
		        font-size: 19px;
		        font-weight: 650;
		        margin-bottom: 15px;
		        letter-spacing: -1px;
		        text-align: left;
		}
		.sponsorwrap strong:before, .sponsorwrap2 strong:before, .sponsorwrap3 strong:before
		        {
		        content: '';
		        display: inline-block;
		        width: 4px;
		        height: 20px;
		        background:
		                url(https://www.fcseoul.com/resources/front/images/sub/common/ico_title.jpg)
		                no-repeat center center;
		        background-size: 100%;
		        position: absolute;
		        top: 3px;
		        left: 0;
		        letter-spacing: -1px;
		}
		.imgl {
		        display: inline;
		        float: left;
		        margin-bottom: 7px;
		}
		.imgr {
		        display: inline;
		        float: right;
		        margin-bottom: 7px;
		}
		.contentwrap2 {
		        width: 1200px;
		        position: relative;
		        margin: auto;
		}
		.footer1 {
		        border-bottom: 1px solid #272727;
		        height: 60px;
		}
		.footer1 a {
		        color: #ccc;
		        height: 25px;
		}
		.foot {
		        display: inline-block;
		        width: 1200px;
		        height: 60px;
		        box-sizing: border-box;
		        text-align: center;
		}
		.pri {
		        display: inline;
		        float: left;
		        margin-top: 18px;
		        letter-spacing: -1.2px;
		}
		.pri a {
		        color: #f60000;
		}
		.pri1 {
		        display: inline;
		        margin-top: 18px;
		        margin-left: 40px;
		        float: left;
		        letter-spacing: -1.3px;
		}
		.fright {
		        display: inline-block;
		        width: 236px;
		        height: 60px;
		        box-sizing: border-box;
		}
		.pri2 {
		        display: inline;
		        margin-top: 18px;
		        margin-left: 30px;
		        float: right;
		}
		.footer2 {
		        padding: 20px 0 30px;
		        height: 118px;
		        box-sizing: border-box;
		}
		.foot1 {
		        width: 174px;
		        height: 68px;
		        float: left;
		}
		.foot2 {
		        color: #ccc;
		        font-size: 14px;
		        float: left;
		        position: relative;
		        padding-top: 10px;
		}
		.footer .foot2 img {
		        margin-right: 40px;
		}
		.foot2 ul li::after {
		        content: '';
		        display: inline-block;
		        width: 1px;
		        height: 13px;
		        background: #444;
		        transform: translateY(-50%);
		        position: absolute;
		        top: 35%;
		        margin-left: 15px;
		}
		.foot2 ul li:nth-child(4)::after {
		        display: none;
		}
		.footer .footer2 ul li {
		        display: inline;
		        list-style-type: none;
		        margin-right: 30px;
		        font-size: 14px;
		        letter-spacing: -0.8px;
		}
		.footer .footer2 ul {
		        margin-bottom: 5px;
		}
		.footer .footer2 p {
		        color: #ccc;
		        font-size: 15px;
		        margin-top: 10px;
		        letter-spacing: -0.5px;
		}
		.footer .foot3 img {
		        float: right;
		        margin-top: 10px;
		}
		.footer .mainbot .contentwrap {
		        width: 1222px;
		        margin: auto;
		}


